@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');

body {
    height: 100%;
    background: url(https://www.wallpapertip.com/wmimgs/171-1718333_black-and-white-football-backgrounds.jpg) no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    opacity: 0.9;
    background-color: Black;
    z-index: 8;
}

.paralax {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 600px;
}

.namelogo {
    text-align: center;
    color: #fff;
    text-shadow: 2px 3px 1px #111111;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 0.12em;
    font-size: 6em;
    color: #ccac00;
}

.paralax h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 3px 1px #111111;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    letter-spacing: 0.16em;
    font-size: 6em;
    padding: 210px 0;
}

main {
    background: linear-gradient(to right, #000000, #434343);
    position: relative;
    top: 600px;
    font-family: 'Titillium Web', sans-serif;
    color: #ccac00;
}

.container {
    padding: 0 2% 5%;
}

.container p {
    padding: 10px 50px 20px;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    line-height: normal;
    color: #ccac00;
}